<template name="home">

<head>


    <!-- Bootstrap Core CSS 
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <link href="css/font-awesome.min.css" rel="stylesheet">-->
 
    
</head>

<body id="page-top" class="index">

    
    <header style="background:#62CB7F">
        <div class="container">
            <div class="intro-text">
               <div class="intro-heading">ONE CHALLENGE EVERYDAY</div>

                <div class="intro-lead-in">Perfect for the dull moments in your busy schedule. Challenge and complete with friends!</div>
                <a href="/addChallenge" class="page-scroll btn btn-xl">Get Started</a>
                
            </div>
        </div>
  </header>
     <div>
         <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
              <article class="hero-block primary c6" style="box-sizing: border-box;" >
                <a aria-hidden="true" class="img-link c2" href="features/how-marketers-can-win-the-oscars.html">How Marketers Can Win the
                Oscars</a>
                <div class="text-box c5">
                  <h2>
                    <a class="c3">Chase Your Dream</a>
                  </h2>
                  <p class="secondary-text">
                    <a class="tag c3" href="/aboutPage">By Waz</a>
                  </p>
                  <p class="secondary-text description c4">
                    Keep striving toward your goals. A dream doesn't become reality through magic; it takes sweat, determination and hard work.
                  </p>
                </div>
              </article>
              <article class="hero-block secondary c9">
                <a aria-hidden="true" class="img-link c7 noTextDec" style="background-image:url({{getHighestPost}})" href="/best">
                Top From the Community</a>
                <div class="text-box c8">
                  <h4>
                    <a class="c3" href="/best">Top From the Community: Explore and challenge</a>
                  </h4>
                  <p class="secondary-text">
                    <a class="tag c3" href="/best">View Community</a>
                  </p>
                </div>
              </article>
              <article class="hero-block secondary c12">
                <a aria-hidden="true" class="img-link c10" href="/addChallenge">Featured: Hug and Get Closer</a>
                <div class="text-box c11">
                  <h4>
                    <a class="c3" href="/addChallenge">Featured: Hug and Get Closer</a>
                  </h4>
                  <p class="secondary-text">
                    <a class="tag c3" href="/addChallenge">Learn More</a>
                  </p>
                </div>
              </article>
            </section>
</div>


 
</body>

  <!-- {{addPost}} -->


</template>