<template name="home">

<head>


    <!-- Bootstrap Core CSS 
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <link href="css/font-awesome.min.css" rel="stylesheet">-->
 
    
</head>

<body id="page-top" class="index">

    <!-- Header 
    <header style="background:#62CB7F">-->
        <header class="fullBackground">
        <div class="container">
            <div class="intro-text">
               <div class="intro-heading">ONE CHALLENGE EVERYDAY</div>

                <div class="intro-lead-in">Perfect for the dull moments in your busy schedule. Challenge and complete with friends!</div>
                <a href="/addChallenge" class="page-scroll btn btn-xl">Get Started</a>
                
            </div>
        </div>
  </header>
 
</body>

  <!-- {{addPost}} -->


</template>