<!-- PRIVATE -->

<template name="postsList">

   <section id="portfolio" style="background:#33ADFF">


  <div  class="wellnessIndex">
      
      <svg height="300" width="300" x>
        <circle cx="150" cy="150" r="150" stroke="none" stroke-width="3" fill={{indexColor}} />
        <text x="105" y="150" font-family="sans-serif" font-size="20px" fill="white">Happiness</text>
      </svg>
      
      <h1 sclass="section-heading" style="color:#fff">
          You have completed {{numPosts}} challenges!
      </h1>
  </div>

  <div class="posts" style="border:none">
    {{#each postsWithRank}}
      {{#if ownPost}} 
        {{> postItem}}
      {{/if}} 
    {{/each}}
    
    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</section>
</template>
